.bigAlertCard {
    display: flex;
    flex-direction: column;
    border: solid 3px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.lastRow {
    margin-bottom: 10px;
}

.buttons-holder {
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
}