.alertsPage {
    display: flex;
}

.alertCard {
    flex-direction: column;
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.alertsHolder {
    height: 100vh;
    overflow: scroll;
    width: 20%;
}

.map {
    width: 75%;
}